body {
  font-size: 20px;
  line-height: 35px;
  color: gray;
  background: url("https://previews.123rf.com/images/ookasan/ookasan1612/ookasan161200108/67530209-grunge-white-wood-texture-of-wooden-boards-floor.jpg");


}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;

}

img {
  width: 30%;


}

h1,
h2,
p {
  margin-bottom: 18px;

}

h1 {
  padding-bottom: 10px;
  font-size: 25px;
  line-height: 35px;
  border-bottom: 3px solid #807b7b;
}

h2 {
  font-size: 25px;
}

#h1 {
  position: fixed;
  z-index: 95%;
  width: 100%;
  margin: 0 0 20px;
  color: #fff;
  background: #fff;
  border-bottom: 3px solid gray;
}

#p1 {
  width: 210px;
  height: 80px;
  font-size: 35px;
  line-height: 80px;
  float: left;
  color: #fff;
  text-align: center;
  text-decoration: dashed;
  background: rgb(50, 148, 148);
}

nav {
  float: right;
  margin-top: 20px;
}

nav a {
  padding: 10px;
  margin: 10px;
  color: #7d6e50a1;
  line-height: 20px;
  border-left: 1px solid #efefefe1;
  text-decoration: none;
}

footer {
  font-size: 20px;
  color: #fff;
  clear: both;
  text-align: center;
  background: #6c6868;
  border-top: 6px solid #1aa29b;
  position: relative;
  bottom: -125px;
  padding: 35px 35px;
}

.e1 {
  float: right;
  max-width: 260px;
  padding: 25px;
  border: 1px solid #8d8888b0;
  background: #ffffffea;
}

.e1 h2 {
  border: 1px solid rgb(247, 247, 247);
}

.y1 {
  width: 60px;
  height: 60px;
}

#a1 {
  padding-top: 120px;
}

.b1 {
  float: left;
  width: 100%;
  max-width: 630px;
  margin: 0 0 50px;
  padding: 25px;
  border: 2px solid #ddddddef;
  background: #ffffffdc;
}

.profile-photo {
  float: left;
  margin-right: 12px;

}